{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="post">
  <h1>Reset your password</h1>
  <hr style="width: 100%;">
  {% if validlink %}
  <p>Enter your new password:</p>
  <form action="." method="POST">
    {{ form|crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Change password</button>
  </form>
  {% else %}
  <p>The password reset link was invalid, possibly because it has already been used. Please request a <a
      href="{% url 'password_reset' %}">new password
      reset</a>.</p>
  {% endif %}
</div>
{% endblock content %}